---
layout: layout.liquid
title: C6
---

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <ul class="navbar-nav w-100 d-flex justify-content-between">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Popular
        </a>
        <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="#">Popular</a></li>
        <li><a class="dropdown-item" href="#">New & Noteworthy</a></li>
        </ul>
      </li>
      <div class="nav nav-pills d-flex">
        <li class="nav-item">
            <a class="nav-link active grey" aria-current="page" href="#">Discover</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Animation</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Branding</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Illustration</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Mobile</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Print</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Product Design</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Typography</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Web Design</a>
        </li>
      </div>
      <li class="nav-item">
        <a class="nav-link me-1" href="#">Filters</a>
      </li>
    </ul>
  </div>
</nav>
<div class="container-md text-center">
    <div class="row m-5">
        <div class="col">
            <div class="card border-0" style="width: 18rem;">
                <img src="/images/image1.png" class="card-img-top rounded" alt="...">
                <div class="card-body d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row">
                        <img class="rounded-circle" src="/images/profile.png" alt="">
                        <h6 class="mt-2">Siege Media <span class="badge text-bg-secondary">TEAM</span></h6>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <img src="/images/heart.png" alt="">
                        <h7>193</h7>
                        <img src="/images/eye.png" alt="">
                        <h7>67.4k</h7>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0" style="width: 18rem;">
                <img src="/images/image2.png" class="card-img-top rounded" alt="...">
                <div class="card-body d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row">
                        <img class="rounded-circle" src="/images/profile.png" alt="">
                        <h6 class="mt-2">Orman Clark <span class="badge text-bg-secondary">PRO</span></h6>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <img src="/images/heart.png" alt="">
                        <h7>98</h7>
                        <img src="/images/eye.png" alt="">
                        <h7>24.2k</h7>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0" style="width: 18rem;">
                <img src="/images/image3.png" class="card-img-top rounded" alt="...">
                <div class="card-body d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row">
                        <img class="rounded-circle" src="/images/profile.png" alt="">
                        <h6 class="mt-2">Jordon Cheung </h6>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <img src="/images/heart.png" alt="">
                        <h7>176</h7>
                        <img src="/images/eye.png" alt="">
                        <h7>57.1k</h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row m-5">
        <div class="col">
            <div class="card border-0" style="width: 18rem;">
                <img src="/images/image4.png" class="card-img-top rounded" alt="...">
                <div class="card-body d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row">
                        <img class="rounded-circle" src="/images/profile.png" alt="">
                        <h6 class="mt-2">Aldo Crusher <span class="badge text-bg-secondary">PRO</span></h6>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <img src="/images/heart.png" alt="">
                        <h7>65</h7>
                        <img src="/images/eye.png" alt="">
                        <h7>6.7k</h7>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0" style="width: 18rem;">
                <img src="/images/image5.png" class="card-img-top rounded" alt="...">
                <div class="card-body d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row">
                        <img class="rounded-circle" src="/images/profile.png" alt="">
                        <h6 class="mt-2">Canto</h6>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <h7>Hide ads - Advertise</h7>
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card border-0" style="width: 18rem;">
                <img src="/images/image6.png" class="card-img-top rounded" alt="...">
                <div class="card-body d-flex flex-row justify-content-between">
                    <div class="d-flex flex-row">
                        <img class="rounded-circle" src="/images/profile.png" alt="">
                        <h6 class="mt-2">Ramy Wafaa <span class="badge text-bg-secondary">PRO</span></h6>
                    </div>
                    <div class="d-flex flex-row align-items-center justify-content-between">
                        <img src="/images/heart.png" alt="">
                        <h7>513</h7>
                        <img src="/images/eye.png" alt="">
                        <h7>143k</h7>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>